* {
	padding:0;
	margin:0;
}

html,body{
	height:100%;
} 

/*底部工具条按钮样式*/
.clearfix a{
	display: inline-block;
	width:25px;
	line-height:25px;
	text-align:center;
	height:25px;
	text-decoration: none;
	background-color: #ccc;
	outline: none;
	margin: 3px;
	color: black;
}

.clearfix a:HOVER, .clearfix a.currentPage {
	background-color: #eee;
	color:blue;
	outline: none;
	text-decoration: none;
}

.clearfix a.currentPage {
	cursor: default;
}

/*底部工具条按钮样式  end*/

.image-container {
	width : 100%;
	height : 100%;
	overflow: scroll;
	border : 1px solid gray;
	position:relative;
}

.image-content {
	position: relative;
	display: inline-block;
}

.control-content {
	width: 330px;
	position: absolute;
	z-index: 101;/*浮在选区上面*/
}

.size {
	height:20px;
	width:80px;
	background-color: black;
	position:absolute;
	left:0px;
	top:0px;
	width:80px;
	z-index:100;
	display:none;
	padding:0 10px;
	text-align: center;
	font-size: 8pt;
}

.tip {
	color: white;
}

.element {
	position:absolute;
	z-index:100;
	border:2px solid #2a8ee1;
}

.span-btn {
	width : 24px;
	height : 24px;
	display: inline-block;
}

.no-border {
	border 0px;
}

.panel-heading {
	position : relative;
}

/*添加小题按钮*/
.add-btn {
	background-image : url(../images/add_default.png);
	position: absolute;
	right: 40px;
	top: 8px;
}

.close-btn {
	position:absolute;
	right:12px;
	top:8px;
	background-image: url(../images/close_default.png);
}

.close-btn:hover {
	cursor : pointer;
	background-image: url(../images/close_focus.png);
}

.sub-question {
	position:relative;
	margin-bottom:20px;
}

td.table-label {
	width: 60px;
}

.element {
    box-sizing: content-box;
}

/*slider被选中的样式*/
.slider-selection {
	background: #BABABA none repeat scroll 0 0;
}