

.tool-bar{
	background: #9b9b9b;
	height:60px;

}

.navbar-inverse .navbar-nav>li>a{
	color: #fff;
	font-size:16pt;
	font-weight: bold;
}

.navbar-inverse .navbar-nav>li :FIRST-CHILD{
	padding-left:10px;
}

.workspace {
	padding: 60px 15px 0 0;
	height:100%;
}


.workspace .container,.workspace .container-fluid {
	padding: 0;
	width: 100%;
}

.img-panel {
	padding-right: 0px;
	height:100%;
	
}

.img-panel,.point-panel-detail {
	min-height: 100px;
}

.img-panel-toolbox {
	position: absolute;
	top:10px;
	width:80px;
	left: 17px;
	background-color:transparent;
}
.img-panel  .panel-success{
	border:0px;
}

.img-panel .panel-heading{
    background: url("img/grid-bg.png" ) repeat;
    border-bottom:0px;
}

.img-panel .panel-body{
	background: #727272;
	border-radius: 2px;
}

.img-panel .panel-body .row{
	margin: 0px;
}

.img-panel-toolbox .divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #727272;
}

.img-panel-toolbox .pull-left {
	margin: -10px 0 0 -15px;
	color:#fff;
}

.img-panel-toolbox .glyphicon {
	top:0px;
	left:1px;
	cursor: pointer;
}

.img-panel-toolbox ul{
	padding:0 ;
	font-size: 20px;
}

.img-panel-toolbox ul:FIRST-CHILD {
	padding-top:10px ;
}

.img-panel-toolbox .panel-body{
	padding:5px 0px;
}
.img-panel-toolbox .panel-body .img-tool a{
	text-decoration: none;
	color:#333;
}

#markingPanel aside:last{
	
}

.point-panel {
	color: #000;
	padding-left: 1px;
	padding-right: 2px;
	height:100%;
	padding-top:15px;
}

.point-panel-marking,.point-panel-marking>.panel-heading,.point-panel-marking> .panel-footer{
	background: #727272;
	border: 0px;
}
.point-panel-marking{
	
}

.point-panel-toolbar {
	
}

.point-input {

}

.point-btn {
	color: #c83025;
}

.point-panel-toolbar .icon {
	padding-left: 10px;
}

.point-panel .panel-body {
	min-height: 400px;
	overflow: auto;
}

.point-panel .panel-body .form-group {
	margin-right:0px;
}

.point-panel .panel-body .form-group .input-group-btn .row {
	margin-right:5px;
	margin-left:-5px;
	margin-top: 10px;
	text-align: center;
}
.point-panel .panel-body .form-group .input-group-btn .divider{
	background-color:#fff;
}

.nine-grid  {
	padding: 10px 15px;

}

.point-panel .panel-body .point-desc,.point-panel .panel-footer  .point-desc{
	margin-top: -15px;
    margin-bottom: 10px;
}

.point-panel .point-input {
	padding-right: 0px;
	border-right-width: 0px;
	font-size: 15pt;
	color: #c83025;
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;	
}

.point-panel .point-mark {
	border-left-width: 0px;
	border-color: #3c763d;
}

.point-panel .point-mark-select-right {
	border-color: #3c763d;
}

.point-panel-detail {
	max-height: 300px;
	overflow: auto;
	padding-bottom: 0px;
}

.point-panel-detail .dropdown-menu li>a i,.point-panel-total .dropdown-menu li>a i{
	padding: 0 10px 0 0;
}

.point-panel-detail .dropdown-menu li>a span,.point-panel-total .dropdown-menu li>a span{
	padding: 0 15px 0 0;
}

.point-record,.point-reset{
	padding-left: 15px;
}
.point-record {
	text-align: left;
}
.point-record button{
	margin-left: 25px;
	padding:0 10px;
	width:80%;
}

.point-reset button{
	margin-left: 15px;
	padding:0 10px;
	width:80%;
}

.point-panel .form-control-feedback {
	color: #000;
}


.point-panel-completed {
	padding: 0px 0px 1px 1px;
}

.point-panel-completed .panel-body{
	overflow: auto;
	padding:10px 15px 5px 15px;
}

.point-panel-completed i {
	margin: 0px 5px 0px 0px;
	font-size:14px;
}
.point-panel-completed i.icon-star {
	color: #A5DE37;
}

.point-panel-completed i.icon-star-empty {
	color: #FEAE1B;
}

.point-panel-completed i.icon-star-half {
	color: #ff7680;
	padding: 0px 5px 0px 0px;
}

.status-bar {
	width: 100%;
	color: #fff;
	padding: 5px 0;
	background: #9b9b9b;
	height: :120px;
}

.status-bar li {
	float: left;
	padding-right: 15px;
	
}

.top-arrow{
	top: 0px;
    margin: 30px 0 0 0;
    color: #FFF;
    position: absolute;
    font-size: 20px;
    z-index: 9999;
    cursor: pointer;
    width: 100%;
    text-align: center;	
}

.bottom-arrow{
	bottom: 0px;
    margin: 0 0 20px 0;
    color: #FFF;
    position: absolute;
    font-size: 20px;
    z-index: 9999;
    cursor: pointer;
    width: 100%;
    text-align: center;
}