html {
	height: 100%;
	position: relative;
}

body {
	background-color: #2b2f3e;
	background: url("img/grid-bg.png" ) repeat;
	color: #393939;
	font-family: 'microsoft yahei', 'Open Sans';
	line-height: 1.5;
	height: 100%;
	padding-bottom: 0;
}

ul li {
	list-style: none;
}

.workspace {
	padding: 55px 15px 0 0;
	height:100%;
}

.workspace .row{
	background-color: #666;
}
.workspace .container,.workspace .container-fluid {
	padding: 0;
	width: 100%;
}

.img-panel {
	padding-left: 0px;
	padding-right: 0px;
	height:100%;
}

.img-panel,.point-panel-detail {
	overflow: auto;
	min-height: 100px;
}

.img-panel img {
	width: 100%;
	position: absolute;
	top:0px;
}

.img-panel-toolbox {
	position: absolute;
	top:0px;
	width:80px;
}

.img-panel-toolbox .divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.img-panel-toolbox .pull-right {
	margin: -10px 0 0 15px;
}

.img-panel-toolbox .glyphicon {
	top:0px;
	left:10px;
	cursor: pointer;
}

.img-panel-toolbox ul{
	
}

.img-panel-toolbox .panel-body{
	padding:5px 0px;
}

.point-panel {
	color: #000;
	padding-left: 1px;
	padding-right: 1px;
	background: #666;
	height:100%;
}

 .point-panel-marking{
	margin-bottom:1px;
}

.point-panel-toolbar {
	
}

.point-input {
	
}

.point-btn {
	color: #c83025;
}

.point-panel-toolbar .icon {
	padding-left: 10px;
}

.point-panel .panel-body {
	max-height: 300px;
	min-height:200px;
	overflow: auto;
}

.point-panel .point-panel-desc {
	padding: 0px 0px 1px 1px;
}

.point-panel .point-input {
	padding-right: 0px;
	border-right-width: 0px;
	font-size: 15pt;
	color: #c83025;
}

.point-panel .point-mark {
	border-left-width: 0px;
	border-color: #3c763d;
}

.point-panel .point-mark-select-right {
	border-color: #3c763d;
}

.point-panel-detail {
	max-height: 300px;
	overflow: auto;
}

.point-panel-detail .dropdown-menu li>a i,.point-panel-total .dropdown-menu li>a i{
	padding: 0 10px 0 0;
}

.point-panel-detail .dropdown-menu li>a span,.point-panel-total .dropdown-menu li>a span{
	padding: 0 15px 0 0;
}

.point-panel-total {
	
}

.point-panel .form-control-feedback {
	color: #000;
}

.img-zoom {
	left: 0;
	bottom: 0;
}

.img-zoom img,.img-panel img {
	display: block;
}

.point-panel-desc{
	
}

.point-panel-desc .panel-body{
	min-height:100px;
	max-height:200px;
	overflow: auto;
}

.status-bar {
	width: 100%;
	color: #fff;
	padding: 5px 0;
}

.status-bar li {
	float: left;
	padding-right: 15px
}