.config-panel-container{
	padding-top: 15px;
    padding-left: 60px;
    padding-right: 0px;

}

.config-panel{
	 background: #c5c5c5;
}

.config-panel .navbar-nav  {
	 
}

.config-panel .navbar-nav a{
	 font-size:14pt;
	 color:#fff;
}

.config-panel .list-group-item .navbar-nav a:HOVER{
    background-color: #fff;
    color:#c5c5c5;
}

.config-panel .list-task .control-label.leader{
	color:#a94442;
}

.config-panel .list-group-item .navbar-nav a{
	font-size:12pt;
	color:#000;
	padding:0px 30px 0 0 ;
}

.config-panel .list-group-item .navbar-nav .list-group-item-success{
	margin:0px 15px 0 0 ;
}

.config-panel .list-group-item .navbar-nav.navbar-right{
	margin:0px 15px 0 0 ;
}

.config-panel .navbar-nav a:HOVER,.config-panel .config-actived a{
	 color:#000;
}

.config-wrapper{
	padding:50px 30px 0 30px;
}

.config-wrapper .table{
	text-align: center;
	border: 1px solid #000;
}


.config-wrapper .table-bordered>tbody>tr>td, .config-wrapper .table-bordered>thead>tr>th{
	border: 1px solid #000;
	text-align: center;
}

.config-wrapper .table-striped>tbody>tr:nth-of-type(odd){
	background:#d9edf7;
}
.config-wrapper .table-striped>tbody>tr{
	background: #5bc0de;
}

.subject-container,.worker-container{
	overflow:auto;
}

.subject-container>.row{
	margin-left:0px;
	margin-right:0px;
}

.subject-container .doing{
	background:#d9534f;
}

.subject-container .completed,.worker-container .completed{
	background:#5cb85c;
}

.subject-container .subject-editor{
	text-align: center;
}

.worker-container .completed{
	text-align: left;
	color:#fff;
}

.worker-container .mini{
	background:#d9534f;
}