.tool-bar{
	background: #9b9b9b;
	height:50px;
}

.tool-bar .container{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-inverse .navbar-nav>li>a{
	color: #fff;
	font-size:14pt;
}

@media screen and (max-width:768px){
	.tool-bar .navbar-collapse{
		background:#727272;
	}
}

.navbar-inverse .navbar-nav>li :FIRST-CHILD{
	padding-left:0px;
}

.workspace {
	padding: 50px 15px 0 0;
	height:100%;
}

.workspace .container,.workspace .container-fluid {
	padding: 0;
	width: 100%;
}

.img-panel-container{
	padding-right: 0px;
	
}

.img-panel {
    height:100%;
}

.point-panel-detail {
	min-height: 100px;
}

.img-hilight-area{
	border:2px dashed #FF4351;
	text-align: right;
	color: #FF4351;
	font-size: 14pt;
	font-weight: bold;
}

.img-panel-toolbox {
	position: absolute;
	top:10px;
	width:50px;
	left: 17px;
	background-color:transparent;
}

.img-panel-toolbox .panel-body  .row .col-md-12{
	padding-left:5px;
}

.img-panel  .panel-success{
	border:0px;
}

.img-panel .panel-heading{
    background: url("img/grid-bg.png" ) repeat;
    border-bottom:0px;
}

.img-panel .panel-body{
	background: #727272;
	border-radius: 2px;
}

.img-panel .panel-body .row{
	margin: 0px;
}

.img-panel-toolbox .divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #727272;
}

.img-panel-toolbox .pull-left {
	margin: -10px 0 0 -15px;
	color:#fff;
}

.img-panel-toolbox .glyphicon {
	top:0px;
	left:1px;
	cursor: pointer;
}

.img-panel-toolbox ul{
	padding:0 ;
	font-size: 20px;
}

.img-panel-toolbox ul:FIRST-CHILD {
	padding-top:10px ;
}

.img-panel-toolbox .panel-body{
	padding:5px 0px;
}
.img-panel-toolbox .panel-body .img-tool a{
	text-decoration: none;
	color:#333;
}

#markingPanel aside:last{
	
}

.point-panel-container{
    padding-left: 1px;
	padding-right: 2px;
}

.point-panel {
	color: #fff;
	height:100%;
	padding-top:15px;
}


.point-panel .section-title .control-label {
	text-align: left;
}

.point-panel-marking .panel-title{
	height: 1px;
	border-bottom: 1px dashed #fff;
	height:100%;
}

.point-panel-marking,.point-panel-marking>.panel-heading,.point-panel-marking> .panel-footer{
	background: #727272;
	border: 0px;
}

.point-panel-marking{
	
}

.point-input{
	color:#FF4351;
	font-weight: bold;
	margin-left: 2px;
}

.point-panel .panel-body .form-group {
	margin-right:0px;
}

.point-panel .panel-body .form-group .button-small{
	padding:0 10px;
	font-size:14px;
}

.point-panel .panel-body .form-group .input-group-btn .row {
	margin-right:5px;
	margin-left:-5px;
	margin-top: 10px;
	text-align: center;
}

.point-panel .panel-body .form-group .input-group-btn .divider{
	background-color:#fff;
}

.nine-grid  {
	padding: 10px 15px;
}


.status-bar {
	width: 100%;
	color: #fff;
	background: #9b9b9b;
	margin-right:15px;
	height: 31px;
    padding: 5px 0;
}

.status-bar li {
	float: left;
	padding-right: 15px;
}

.top-arrow{
	top: 0px;
    margin: 30px 0 0 0;
    color: #FFF;
    position: absolute;
    font-size: 20px;
    z-index: 9999;
    cursor: pointer;
    width: 100%;
    text-align: center;	
}

.bottom-arrow{
	bottom: 0px;
    margin: 0 0 20px 0;
    color: #FFF;
    position: absolute;
    font-size: 20px;
    z-index: 9999;
    cursor: pointer;
    width: 100%;
    text-align: center;
}