body{
	font-size:14px;
}
.img-panel-toolbox .glyphicon {
	left:6px;
}
.point-desc{
	margin-top:-15px;
}
.point-panel-completed .panel-body{
	overflow: auto;
	padding:10px 15px 0px 15px;
}

@-ms-viewport       { width: device-width; }

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }