html {
	height: 100%;
	position: relative;
}

body {
	background-color: #2b2f3e;
	background: url("img/grid-bg.png" ) repeat;
	font-family: 'microsoft yahei', 'Open Sans';
	line-height: 1.5;
	height: 100%;
	padding-bottom: 0;
}

ul li {
	list-style: none;
}

.transparent-100 {  
      filter:alpha(opacity=100);  
      -moz-opacity:1;  
      -khtml-opacity: 1;  
      opacity: 1;  
} 

.transparent-50 {  
      filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;  
} 

.transparent-25{  
      filter:alpha(opacity=25);  
      -moz-opacity:0.25;  
      -khtml-opacity: 0.25;  
      opacity: 0.25;  
} 