.pager ul.pages {
	display: inline-block;
	border: none;
	text-transform: uppercase;
	font-size: 10px;
	margin: 0px 0 0px;
	padding: 0;
	border: 1px solid #fff;
	border-radius:5px;
	overflow:hidden;
}

.pager ul.pages li {
	list-style: none;
	float: left;
	border-right: 1px solid #fff;
	text-decoration: none;
	margin: 0;
	padding: 5px 10px;
}

.pager ul.pages li:hover {
	border-: 1px solid #003f7e;
	background-color:#eee;
}

.pager ul.pages li:last-child {
	border:none;
}


.pager ul.pages li.pgEmpty {
	/**border: 1px solid #eee;**/
	color: #eee;
}

.pager ul.pages li.pgEmpty:hover {
	color: #000;
}

.pager ul.pages li.pgCurrent {
	/**border-left: 1px solid #fff;
	border-right: 1px solid #fff;**/
	color: #000;
	font-weight: 700;
	background-color: #428BCA;
	color:#000;
	
}